@import '../../../asset/css/shared/variables'

.contact
  padding: 2em

  .container
    margin: auto
    max-width: 40em

  .prose
    .statement
      font-size: 2em
      font-weight: bold
      margin: auto
      max-width: 21em
      padding-bottom: .75em
      text-align: center

    .core
      color: $grey
      font-size: 1.05em
      line-height: 2em
      margin: auto
      max-width: 40em
      text-align: center

  .form
    padding-top: 2em

  .detail
    display: flex
    flex-direction: column

    input
      border: 1px solid $light-grey
      box-shadow: none
      flex: 1
      margin-bottom: 1em
      padding: 1.25em 1em

      &:focus
        border-color: $light-indigo
        outline: none

  .message
    display: flex

    textarea
      border: 1px solid $light-grey
      flex: 1
      margin-bottom: 2em
      padding: 1em

      &:focus
        border-color: $light-indigo
        outline: none

  .action
    background: linear-gradient(-45deg, $indigo, $light-indigo)
    border-radius: 1.5em
    color: $white
    font-size: 1.05em
    font-weight: bold
    padding: 1em 2em
    text-align: center
    text-transform: uppercase

    &:hover
      background: $dark-indigo
      color: $white
      cursor: pointer

@media screen and (min-width: 992px)
  .contact
    .container
      max-width: 80em

    .detail
      flex-direction: row

      input
        margin-right: 2em

        &:last-child
          margin-right: 0

    .action
      display: inline-flex
